@import "~@angular/material/prebuilt-themes/indigo-pink.css";
h1{
    color: white;
}
.sidenav{
    margin-top: 2px;
    background-color: #3f51b5;
    
}
h6{
    color: white;
}
.dash{
    min-height: 80vh;
}
